@import url(fonts.css) all;
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "WebMyriad-Cond";
    font-weight: 200;
    font-size: 20px;
    }

div#header {
    text-align: center;
}


div#header span.title {
    font-size: 48px;
}

div#data {
    margin: 10px;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

div#elevation_profile {
    text-color: red;
    display: inline-block;
}

div#track_title {
     color: beige;
    background-color: brown;
}

#elevation_chart {

}

#map {
    height: 50%;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}


table#data {
    width: 80%;
}

#data.td {
   font-size: 24px;
   padding: 5px;
   }
/*
a:link    { color: #fce2d5; text-decoration: underline; }
a:visited { color: #fce2d5; text-decoration: underline; }
a:hover   { color: #fce2d5; text-decoration: none;  }
a:active  { color: #fce2d5; text-decoration: underline; }
*/